@keyframes registrationLoader {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.registrationLoader div {
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
}

.registrationLoader div {
	animation: registrationLoader 1s linear infinite;
}

.registrationLoader {
	position: absolute;
	display: flex;
	justify-content: end;
	right: 14px;
	top: 26px;
}
